*.cpp linguist-detectable
*.h linguist-detectable
*.cs linguist-detectable
*.js linguist-detectable
*.jsx linguist-detectable
*.kt linguist-detectable
*.kts linguist-detectable
*.py linguist-detectable
*.html linguist-detectable
*.css linguist-detectable
*.ts linguist-detectable
*.tsx linguist-detectable
*.sqlite3 linguist-detectable
*.db linguist-detectable
*.sql linguist-detectable
*.pgsql linguist-detectable
*.postgis linguist-detectable
Dockerfile linguist-detectable
*.dockerfile linguist-detectable
*.php linguist-detectable
