**/*.cpp linguist-detectable
**/*.h linguist-detectable
**/*.cs linguist-detectable
**/*.js linguist-detectable linguist-language=JavaScript
**/*.jsx linguist-detectable linguist-language=JavaScript
**/*.kt linguist-detectable
**/*.kts linguist-detectable
**/*.py linguist-detectable linguist-language=Python
**/*.html linguist-detectable linguist-language=HTML
**/*.css linguist-detectable linguist-language=CSS
**/*.ts linguist-detectable linguist-language=TypeScript
**/*.tsx linguist-detectable linguist-language=TypeScript
**/*.sqlite3 linguist-detectable
**/*.db linguist-detectable
**/*.sql linguist-detectable linguist-language=SQL
**/*.pgsql linguist-detectable linguist-language=SQL
**/*.postgis linguist-detectable
**/Dockerfile linguist-detectable linguist-language=Dockerfile
**/*.dockerfile linguist-detectable
**/*.php linguist-detectable linguist-language=PHP
